.ql-container {
	min-height: 100px;
}

.form-rich-editor-readonly-text {
	width: inherit;
	height: inherit;
	overflow: auto;
	word-break: break-all;
}

.counter {
	font-size: 70%;
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 5px;
}
