<!-- sidebar menu -->
<mat-nav-list>
	<!-- logo -->
	<div class="sidebar-logo">
		<img src="../assets/img/logo.png" />
	</div>

	<!-- option menues -->
	<a mat-list-item routerLink="/expenses">
		<mat-icon>attach_money</mat-icon>
		Expenses
	</a>
	<a mat-list-item routerLink="/expense-form">
		<mat-icon>attach_money</mat-icon>
		Expenses
	</a>
	<a mat-list-item routerLink="" routerLinkActive="router-link-active">
		<mat-icon>show_chart</mat-icon>
		Dashboard
	</a>
	<a mat-list-item routerLink="/search" routerLinkActive="router-link-active">
		<mat-icon>search</mat-icon>
		Search
	</a>
	<a mat-list-item routerLink="/users" routerLinkActive="router-link-active">
		<mat-icon>person</mat-icon>
		Users
	</a>
</mat-nav-list>
