<!-- sidebar menu -->
<mat-nav-list>
	<!-- logo -->
	<div class="sidebar-logo">
		<img src="../assets/img/logo.png" />
	</div>

	<!-- <mat-divider></mat-divider> -->

	<h1 matSubheader>Pages</h1>

	<a
		mat-list-item
		routerLink="/contacts"
		routerLinkActive="router-link-active"
	>
		<mat-icon>attach_money</mat-icon>
		Expenses
	</a>
	<a
		mat-list-item
		routerLink="/dashboard"
		routerLinkActive="router-link-active"
	>
		<mat-icon>show_chart</mat-icon>
		Dashboard
	</a>
	<a mat-list-item routerLink="/search" routerLinkActive="router-link-active">
		<mat-icon>search</mat-icon>
		Search
	</a>
	<a mat-list-item routerLink="/users" routerLinkActive="router-link-active">
		<mat-icon>person</mat-icon>
		Users
	</a>
</mat-nav-list>
