<mat-toolbar>
	<mat-toolbar-row>
		<!-- right icons -->
		<div fxFlex fxLayoutAlign="start center">
			<button mat-icon-button (click)="setSidebar()">
				<mat-icon matTooltip="Open/Close Slide Menu">menu</mat-icon>
			</button>
			<span class="app-title">{{ 'app_title' | translate }}</span>
			<mat-icon class="app-title-icon">attach_money</mat-icon>
		</div>

		<!-- left icons and menu -->
		<div fxFlex fxLayoutAlign="end center">
			<!-- notifications -->
			<button mat-icon-button [matTooltip]="'Notifications' | translate">
				<mat-icon
					[matBadge]="numberOfNotifications"
					matBadgeColor="warn"
					>notifications
				</mat-icon>
			</button>
			<!-- login -->
			<app-small-button
				imageCaption="person"
				toolTipMessage="{{ 'Log In' | translate }}"
			></app-small-button>
			<!-- sign in -->
			<app-small-button
				imageCaption="person_add"
				toolTipMessage="{{ 'Sign In' | translate }}"
			></app-small-button>
			<!-- favorites -->
			<app-small-button
				imageCaption="favorites"
				toolTipMessage="{{ 'Add To Favorites' | translate }}"
			></app-small-button>
			<!-- shared -->
			<app-small-button
				imageCaption="share"
				toolTipMessage="{{ 'Shared' | translate }}"
			></app-small-button>
			<!-- language -->
			<app-select-language
				(languageChanged)="onLanguageChange($event)"
			></app-select-language>
			<button
				mat-icon-button
				[matTooltip]="'More Options' | translate"
				[matMenuTriggerFor]="menu"
			>
				<mat-icon>more_vert</mat-icon>
			</button>
			<!-- more items menu -->
			<mat-menu #menu="matMenu">
				<button mat-menu-item>
					<mat-icon>settings</mat-icon>
					<span>Settings</span>
				</button>
				<button mat-menu-item>
					<mat-icon>help</mat-icon>
					<span>Help</span>
				</button>
				<button mat-menu-item>
					<mat-icon>star</mat-icon>
					<span>About</span>
				</button>
			</mat-menu>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
