@import '../../../assets/css/variables.scss';

mat-card .mat-icon {
	font-size: 35px;
	width: 35px;
	color: $confirm-icon-color;
}

mat-toolbar-row {
	padding-right: 0px;
}

mat-toolbar .mat-icon {
	font-size: 20px;
	width: 20px;
}

.mat-card-title {
	margin-bottom: 20px;
}

::ng-deep.mat-dialog-container {
	padding: 0px !important;
}

::ng-deep.mat-toolbar-multiple-rows {
	min-height: 0px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
	height: inherit;
}
