<app-loading-spinner></app-loading-spinner>
<mat-card>
	<mat-card-title>
		<div fxLayout="row">
			<div fxFlex fxFlexAlign="center">
				{{ 'expense_list_title' | translate }}
			</div>
			<div fxFlex fxLayoutAlign="end">
				<!-- search input -->
				<app-search-input
					(searchChange)="onSearchChange($event)"
				></app-search-input>
				<!-- add button -->
				<app-small-button
					imageCaption="add"
					toolTipMessage="{{ 'add_button_tooltip' | translate }}"
					[ngClass]="'add-small-button-color'"
					(click)="add()"
				></app-small-button>
				<!-- refresh button -->
				<app-small-button
					imageCaption="refresh"
					toolTipMessage="{{ 'refresh_button_tooltip' | translate }}"
					(click)="refresh()"
				></app-small-button>
			</div>
		</div>
	</mat-card-title>
	<mat-card-subtitle>
		<span
			><i>{{ 'expense_list_subtitle' | translate }}</i></span
		>
	</mat-card-subtitle>

	<mat-card-content>
		<div class="mat-elevation-z8">
			<!-- expense table -->
			<mat-table
				matSort
				matSortActive="entryDate"
				matSortDirection="desc"
				[dataSource]="dataSource"
			>
				<!-- name Column -->
				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'name' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let record">{{
						record.name
					}}</mat-cell>
				</ng-container>

				<!-- description Column -->
				<ng-container matColumnDef="description">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'description' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let record">
						<div [innerHTML]="record.description"></div>
					</mat-cell>
				</ng-container>

				<!-- state Column -->
				<ng-container matColumnDef="state">
					<mat-header-cell
						class="mat-header-cell-center"
						*matHeaderCellDef
						mat-sort-header
					>
						<div>
							{{ 'state' | translate }}
						</div>
					</mat-header-cell>
					<mat-cell class="mat-cell-center" *matCellDef="let record">
						<div>
							<app-state-field
								[id]="record.state"
							></app-state-field>
						</div>
					</mat-cell>
				</ng-container>

				<!-- entryDate Column -->
				<ng-container matColumnDef="entryDate">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'entryDate' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let record">
						{{ record.entryDate | date: 'medium' }}
					</mat-cell>
				</ng-container>

				<!-- updateDate Column -->
				<ng-container matColumnDef="updateDate">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'updateDate' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let record">
						{{ record.updateDate | date: 'medium' }}
					</mat-cell>
				</ng-container>

				<!-- subtotal Column -->
				<ng-container matColumnDef="subtotal">
					<mat-header-cell
						class="w-80 mat-header-cell-right"
						arrowPosition="before"
						*matHeaderCellDef
						mat-sort-header
					>
						{{ 'subtotal' | translate }}
					</mat-header-cell>
					<mat-cell
						class="w-80 mat-cell-right"
						*matCellDef="let record"
					>
						{{ record.subtotal | currency }}
					</mat-cell>
				</ng-container>

				<!-- totalTax Column -->
				<ng-container matColumnDef="totalTax">
					<mat-header-cell
						class="mat-header-cell-right"
						arrowPosition="before"
						*matHeaderCellDef
						mat-sort-header
					>
						<div>{{ 'totalTax' | translate }}</div>
					</mat-header-cell>
					<mat-cell class="mat-cell-right" *matCellDef="let record">
						{{ record.totalTax | currency }}
					</mat-cell>
				</ng-container>

				<!-- total Column -->
				<ng-container matColumnDef="total">
					<mat-header-cell
						class="mat-header-cell-right"
						arrowPosition="before"
						*matHeaderCellDef
						mat-sort-header
					>
						<div>{{ 'total' | translate }}</div>
					</mat-header-cell>
					<mat-cell class="mat-cell-right" *matCellDef="let record">
						{{ record.total | currency }}
					</mat-cell>
				</ng-container>

				<!-- actions Column -->
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef></mat-header-cell>
					<mat-cell class="mat-cell-right" *matCellDef="let record">
						<!-- edit button -->
						<app-small-button
							imageCaption="edit"
							toolTipMessage="{{
								'update_button_tooltip' | translate
							}}"
							[ngClass]="'edit-small-button-color'"
							(click)="update(record)"
						></app-small-button>
						<!-- delete button -->
						<app-small-button
							imageCaption="delete"
							toolTipMessage="{{
								'delete_button_tooltip' | translate
							}}"
							[ngClass]="'delete-small-button-color'"
							(click)="remove(record)"
						></app-small-button>
						<!-- approve button -->
						<app-small-button
							imageCaption="thumb_up"
							toolTipMessage="{{
								'approve_button_tooltip' | translate
							}}"
							[ngClass]="'approve-small-button-color'"
						></app-small-button>
					</mat-cell>
				</ng-container>

				<!-- Checkbox Column -->
				<ng-container matColumnDef="select">
					<mat-header-cell
						class="mat-header-cell-right"
						*matHeaderCellDef
					>
						<mat-checkbox
							(change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="
								selection.hasValue() && !isAllSelected()
							"
						>
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell class="mat-cell-right" *matCellDef="let row">
						<mat-checkbox
							(click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null"
							[checked]="selection.isSelected(row)"
						>
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<!-- header row - column names -->
				<mat-header-row *matHeaderRowDef="displayedColumns">
				</mat-header-row>
				<mat-row
					*matRowDef="let row; columns: displayedColumns"
				></mat-row>
			</mat-table>

			<!-- paginator -->
			<mat-paginator
				[pageSizeOptions]="[10, 20, 50, 100]"
				showFirstLastButtons
			></mat-paginator>
		</div>
	</mat-card-content>
</mat-card>
