@import '../../../../assets/css/variables.scss';

table {
	width: 100%;
}

.column-align-center {
	text-align: center;
}
.column-align-left {
	text-align: left;
}
.column-align-right {
	text-align: right;
}

th.mat-header-cell {
	font-size: $standard-font-size;
	font-weight: bold;
	text-transform: uppercase;
}
