<mat-card>
	<mat-card-title>
		<div fxLayout="row" fxLayout.sm="column">
			<div fxFlex fxFlexAlign="center">
				{{ 'expense_list_title' | translate }}
			</div>
			<div fxFlex fxLayoutAlign="end">
				<!-- search input -->
				<app-search-input
					(searchChange)="onSearchChange($event)"
				></app-search-input>
				<!-- add button -->
				<app-small-button
					imageCaption="add"
					toolTipMessage="{{ 'add_button_tooltip' | translate }}"
					[ngClass]="'add-small-button-color'"
					(click)="add()"
				></app-small-button>
				<!-- refresh button -->
				<app-small-button
					imageCaption="refresh"
					toolTipMessage="{{ 'refresh_button_tooltip' | translate }}"
					(click)="refresh()"
				></app-small-button>
			</div>
		</div>
	</mat-card-title>
	<mat-card-subtitle>
		<span
			><i>{{ 'expense_list_subtitle' | translate }}</i></span
		>
	</mat-card-subtitle>
	<mat-card-content>
		<div class="mat-elevation-z8">
			<table mat-table matSort [dataSource]="dataSource">
				<!-- name Column -->
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'name' | translate }}
					</th>
					<td mat-cell *matCellDef="let record">{{ record.name }}</td>
				</ng-container>

				<!-- description Column -->
				<ng-container matColumnDef="description">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'description' | translate }}
					</th>
					<td mat-cell *matCellDef="let record">
						<div [innerHTML]="record.description"></div>
					</td>
				</ng-container>

				<!-- state Column -->
				<ng-container matColumnDef="state">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'state' | translate }}
					</th>
					<td mat-cell *matCellDef="let record">
						<app-state-field [id]="record.state"></app-state-field>
					</td>
				</ng-container>

				<!-- entryDate Column -->
				<ng-container matColumnDef="entryDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'entryDate' | translate }}
					</th>
					<td mat-cell *matCellDef="let record">
						{{ record.entryDate | date: 'medium' }}
					</td>
				</ng-container>

				<!-- updateDate Column -->
				<ng-container matColumnDef="updateDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'updateDate' | translate }}
					</th>
					<td mat-cell *matCellDef="let record">
						{{ record.updateDate | date: 'medium' }}
					</td>
				</ng-container>

				<!-- subtotal Column -->
				<ng-container matColumnDef="subtotal">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'subtotal' | translate }}
					</th>
					<td mat-cell *matCellDef="let record">
						{{ record.subtotal | currency }}
					</td>
				</ng-container>

				<!-- totalTax Column -->
				<ng-container matColumnDef="totalTax">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'totalTax' | translate }}
					</th>
					<td mat-cell *matCellDef="let record">
						{{ record.totalTax | currency }}
					</td>
				</ng-container>

				<!-- total Column -->
				<ng-container matColumnDef="total">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
						{{ 'total' | translate }}
					</th>
					<td mat-cell *matCellDef="let record">
						{{ record.total | currency }}
					</td>
				</ng-container>

				<!-- actions Column -->
				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef></th>
					<td
						mat-cell
						class="column-align-center"
						*matCellDef="let record"
					>
						<!-- edit button -->
						<app-small-button
							imageCaption="edit"
							toolTipMessage="{{
								'update_button_tooltip' | translate
							}}"
							[ngClass]="'edit-small-button-color'"
							(click)="update(record)"
						></app-small-button>
						<!-- delete button -->
						<app-small-button
							imageCaption="delete"
							toolTipMessage="{{
								'delete_button_tooltip' | translate
							}}"
							[ngClass]="'delete-small-button-color'"
							(click)="remove(record)"
						></app-small-button>
						<!-- approve button -->
						<app-small-button
							imageCaption="thumb_up"
							toolTipMessage="{{
								'approve_button_tooltip' | translate
							}}"
							[ngClass]="'approve-small-button-color'"
						></app-small-button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr
					mat-row
					*matRowDef="let row; columns: displayedColumns"
				></tr>
			</table>

			<mat-paginator
				[pageSizeOptions]="[10, 20, 50, 100]"
				showFirstLastButtons
			></mat-paginator>
		</div>
	</mat-card-content>
</mat-card>
