@import '../../../../assets/css/variables.scss';

.search {
	font-size: $standard-font-size;
	padding-right: 15px;
	width: 350px;
}

.mat-column-subtotal,
.mat-column-totalTax,
.mat-column-total {
	flex: 0 0 7%;
}

.mat-column-state {
	flex: 0 0 7%;
}

.mat-column-name {
	flex: 0 0 10%;
}
