@import '../../../../assets/css/variables.scss';

.search {
	font-size: $standard-font-size;
	padding-right: 15px;
	width: 350px;
}

// .center-header {
// 	flex-direction: column;
// 	justify-content: center;
// }

// .center-cell {
// 	text-align: center;
// 	justify-content: center;
// }
