<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-plain">
				<div class="card-header">
					<h1>Create Expense</h1>
					<p>
						Create new expense. Use description to relate the expense to place
					</p>

					<div [hidden]="submitted">
						<form (ngSubmit)="onSubmit(curForm)" #curForm="ngForm">
							<div class="form-group">
								<label for="name">Name</label>
								<input
									type="text"
									class="form-control"
									id="name"
									required
									[(ngModel)]="expense.name"
									name="name"
								/>
							</div>

							<div class="form-group">
								<label for="name">Description</label>
								<input
									type="text"
									class="form-control"
									id="description"
									required
									[(ngModel)]="expense.description"
									name="description"
								/>
							</div>

							<div class="form-group">
								<label for="name">SubTotal</label>
								<input
									type="text"
									class="form-control"
									id="subtotal"
									required
									[(ngModel)]="expense.subtotal"
									name="subtotal"
								/>
							</div>

							<div class="form-group">
								<label for="name">Total Tax</label>
								<input
									type="text"
									class="form-control"
									id="totalTax"
									required
									[(ngModel)]="expense.totalTax"
									name="totalTax"
								/>
							</div>

							<div class="from-group">
								<app-auto-complete-select></app-auto-complete-select>
							</div>
							
							<div class="form-group">
								<label for="name">State</label>
								<!-- <app-select
									semanticClass="form-control"
									id="state"
									required
									name="state"
									[(currentValue)]="expense.state"
									[optionList]="stateOptions"
									toolTipMessage="Select Expense State"
								>
								</app-select> -->
							</div>

							<div class="form-group">
								<div *ngIf="expense.image && expense.image !== null">
									<img
										[src]="expense.image"
										width="25%"
										height="25%"
										[alt]="expense.name"
									/>
								</div>
								<div>
									<input
										#inputControl
										type="file"
										accept="image/*"
										name="receipt"
										(change)="onFileSelected($event)"
										ngModel
									/>
									<button
										type="button"
										class="btn btn-success"
										(click)="inputControl.click()"
									>
										Upload a Receipt
									</button>
								</div>
							</div>

							<!-- buttons -->
							<div class="form-group">
								<button type="submit" class="btn btn-success">Save</button>
								<button
									type="submit"
									(click)="onCancel()"
									class="btn btn-warning"
								>
									Cancel
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
