<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-plain">
				<div class="card-header">
					<h1>Expenses</h1>
					<p>Company Expense Summary</p>
					<app-button-small
						semanticClass="btn-primary"
						toolTipMessage="Add an Expense"
						imageCaption="tim-icons icon-simple-add"
						(click)="add()"
					></app-button-small>
					<app-button-small
						toolTipMessage="Refresh Expense List"
						imageCaption="tim-icons icon-refresh-01"
						(click)="refresh()"
					></app-button-small>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table
							class="table tablesorter table-responsive-md"
							id="expenseTable"
						>
							<thead class="text-primary">
								<tr>
									<th class="text-center">Receipt</th>
									<th>Name</th>
									<th>Description</th>
									<th class="text-center">Date</th>
									<th class="text-center">State</th>
									<th class="text-center">Subtotal</th>
									<th class="text-center">Taxes</th>
									<th class="text-center">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let expense of expenses; let idx = index">
									<td class="text-center">
										<div *ngIf="expense.imageId && expense.imageId !== null">
											<i class="tim-icons icon-check-2"></i>
										</div>
									</td>
									<td>
										<span
											(keyup)="changeValue(idx, 'name', $event)"
											(blur)="updateList(idx, 'name', $event)"
											contenteditable="false"
											>{{ expense.name }}
										</span>
									</td>
									<td>
										<div
											(keyup)="changeValue(idx, 'name', $event)"
											(blur)="updateList(idx, 'name', $event)"
											contenteditable="false"
											[innerHTML]="expense.description"
										></div>
									</td>
									<td>
										<span
											(keyup)="changeValue(idx, 'name', $event)"
											(blur)="updateList(idx, 'name', $event)"
											contenteditable="false"
											>{{ expense.entryDate }}
										</span>
									</td>
									<td class="text-center">
										<app-state-field [id]="expense.state"> </app-state-field>
									</td>
									<td class="text-center">
										<span
											(keyup)="changeValue(idx, 'name', $event)"
											(blur)="updateList(idx, 'name', $event)"
											contenteditable="false"
											>{{ expense.subtotal }}
										</span>
									</td>
									<td class="text-center">
										<span
											(keyup)="changeValue(idx, 'name', $event)"
											(blur)="updateList(idx, 'name', $event)"
											contenteditable="false"
											>{{ expense.totalTax }}
										</span>
									</td>
									<td class="text-center">
										<span
											(keyup)="changeValue(idx, 'name', $event)"
											(blur)="updateList(idx, 'name', $event)"
											contenteditable="false"
											>{{ expense.total }}
										</span>
									</td>
									<td>
										<app-button-small
											semanticClass="btn-primary"
											toolTipMessage="Edit Current Expense"
											imageCaption="tim-icons icon-pencil"
											(click)="update(expense.id)"
										></app-button-small>
										<app-attach-file
											semanticClass="btn-outline-info"
											toolTipMessage="Attach Expense Image"
											imageCaption="tim-icons icon-attach-87"
											(attach)="attachImage($event)"
										>
										</app-attach-file>
										<app-button-small
											semanticClass="btn-danger"
											toolTipMessage="Delete Current Expense"
											imageCaption="tim-icons icon-trash-simple"
											(click)="remove(idx, expense)"
										>
										</app-button-small>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
