@import '../../../assets/css/variables.scss';

.mat-icon {
	font-size: 35px;
	width: 35px;
	height: 35px;
	color: $confirm-icon-color;
}

.mat-card-title {
	margin-bottom: 20px;
}

::ng-deep.mat-dialog-container {
	padding: 0px !important;
}
