/* font colors */
$standard-font-color: #ffffff;
$link-font-color: #ffaf00;
$visited-font-color: #ffaf00;

/* colors */
$app-title-icon-color: #ffaf00;
$confirm-icon-color: #ffaf00;
$draft-state-color: rgb(255, 255, 255);
$active-state-color: rgb(216, 86, 0);
$approved-state-color: rgb(226, 204, 0);
$done-state-color: rgb(0, 189, 25);
$reconciled-state-color: rgb(0, 210, 247);

/* font sizes */
$standard-font-size: 14px;

/*footer */
$footer-height: 40px;

/* sidebar */
$sidebar-width: 200px;
