/* font colors */
$standard-font-color: #ffffff;
$link-font-color: #ffaf00;
$visited-font-color: #ffaf00;

/* colors */
$app-title-icon-color: #ffaf00;
$confirm-icon-color: #ffaf00;

/* font sizes */
$standard-font-size: 14px;

/*footer */
$footer-height: 40px;

/* sidebar */
$sidebar-width: 200px;
