/* container needed to position the button, adjust the width as needed */
.img-container {
	position: relative;
	width: 50%;
}

/* make the image responsive */
.img-container img {
	width: 50%;
	height: 50%;
}

/* style the button and place it in the right left corner of the container/image */
.detach-btn {
	position: absolute;
	top: 15px;
	left: 45%;
	background-color: rgb(20, 20, 20);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	line-height: normal !important;
}

.detach-btn:hover {
	background-color: rgb(75, 75, 75);
}
