/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import './assets/css/variables.scss';

* {
	font-family: 'LatoWeb';
}

body {
	font-size: $standard-font-size;
	margin: 0px;
}

span {
	font-size: $standard-font-size;
}

/* general button classes */
.approve-small-button-color {
	color: $approve-small-button-color;
}

.delete-small-button-color {
	color: $delete-small-button-color;
}

.edit-small-button-color {
	color: $edit-small-button-color;
}

.approve-small-button-color {
	color: $approve-small-button-color;
}

.add-small-button-color {
	color: $add-small-button-color;
}

/* table defaults */
table {
	width: 100%;
}

.column-align-center {
	text-align: center;
}

.column-align-left {
	text-align: left;
}

.column-align-right {
	text-align: right;
}

th.mat-header-cell {
	font-size: $standard-font-size;
	font-weight: bolder;
	text-transform: uppercase;
}

tr.mat-header-row,
tr.mat-row,
tr.mat-footer-row {
	height: 65px;
}

tr.mat-row:hover {
	background: rgba(255, 255, 255, 0.04);
}

/* remove number input spinner */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* notifications */
.success-notification {
	background-color: green;
	color: whitesmoke;
	font-weight: bold;
}

.error-notification {
	background-color: rgba(255, 0, 0, 0.918);
	color: whitesmoke;
	font-weight: bold;
}
